* {
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem
}

.header-icons svg {
    width: 17px;
    height: 17px;
    color: gray;
    padding: 10px
}

.header-icons svg:hover {
    background-color: rgba(229, 229, 229, 0.954);
    border-radius: 5px;
}