.notification {
    background-color: white;
    border-radius: 10px;
    padding: 5px 1rem;
    display: flex;
    gap: 10px;
    border: 1px solid gainsboro
}

.notification-bell {
    padding: 0.5rem 0
}


.notification-bell svg {
    width: 17px;
    height: 17px;
    background-color: #dbeafe;
    stroke: rgb(0, 98, 255);
    padding: 8px;
    border-radius: 50%;
}

.notif {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.notif h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

.notif p:nth-child(2) {
    font-size: 0.9rem;
    color: gray;
}

.notif p:nth-child(3) {
    font-size: 0.8rem;
    color: rgb(166, 166, 166)
}