.recent-task {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.331);
}

.recent-task:hover {
    box-shadow: 1px 2px 7px rgba(128, 128, 128, 0.331);
}

.recent-task p {
    color: rgb(95, 94, 94)
}

.task-info {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    color: rgb(95, 94, 94)
}

.task-info svg {
    width: 15px;
    vertical-align: middle;
}